.zoneIntervention {
	padding: 3rem 1rem;
	background-color: #f9f9f9;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

.contactSection {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
	font-family: var(--font-texte);
}

.contactLink {
	display: inline-block;
	margin: 0 0.938rem 0.938rem;
	padding: 0.625rem 0.938rem;
	transition: transform 0.3s ease, filter 0.3s ease;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: solid 2px var(--secondary-color);
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s, box-shadow 0.3s ease;
	font-family: var(--font-texte);
}

.contactLink:hover,
.contactLink:focus {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contactMail {
	color: #007bff;
	text-decoration: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	transition: text-decoration 0.3s;
	user-select: none;
}

.contactMail:hover,
.contactMail:focus {
	text-decoration: underline;
	outline: none;
}

.zoneTitle {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	color: #1f1f1f;
	font-family: var(--font-title);
}

.zoneIntro {
	max-width: 700px;
	margin: 0 auto 2rem;
	font-size: 1.1rem;
	color: #333;
	font-family: var(--font-texte);
}

.zoneContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	gap: 2rem;
	margin-bottom: 2rem;
	font-family: var(--font-texte);
}

.zoneGrid {
	flex: 1 1 300px;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.zoneCard {
	background-color: #fff;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	font-weight: 500;
	color: #3b3b3b;
	text-align: left;
	margin-bottom: 1rem;
}

.mapContainer {
	flex: 1 1 320px;
	max-width: 480px;
	height: 538px;
	border-radius: 12px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.zoneFooter {
	margin-top: 2rem;
	font-style: italic;
	font-size: 1rem;
	font-family: var(--font-texte);
}

@media (max-width: 768px) {
	.contactSection {
		justify-content: center;
		gap: 1rem;
	}

	.contactLink,
	.contactMail {
		font-size: 0.9rem;
		padding: 0.4rem 0.8rem;
	}

	.zoneContent {
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
	}

	.zoneGrid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		max-width: 100%;
	}

	.mapContainer {
		width: 100%;
		height: 300px;
		max-width: 100%;
	}

	.zoneTitle {
		font-size: 1.6rem;
	}

	.zoneIntro {
		font-size: 1rem;
	}

	.zoneFooter {
		font-size: 0.95rem;
	}
}
