.footer {
	margin-top: 2rem;
	border: solid 1px black;
	background-color: var(--secondary-color);
	padding: 1rem;
}

.footerUl {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	color: var(--primary-color);
	font-family: var(--font-texte);
}

.footerUl a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--font-texte);
}

.footer p:last-child {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--font-texte);
	padding-top: 1rem;
}

.facebook {
	height: 40px;
	width: 40px;
}

@media (max-width: 768px) {
	.footerUl {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		text-align: center;
		padding: 0;
	}

	.footerUl li {
		font-size: 1rem;
	}
}
