@import "../../styles/variable.css";

.header {
	background-color: var(--primary-color);
}

.logoImg {
	width: 220px;
	height: auto;
}

.navlink {
	display: flex;
	align-items: center; /* Aligne tout au centre verticalement */
	gap: 2rem; /* Espace entre logo et liens */
	list-style: none; /* Optionnel : enlève les puces de liste */
	padding: 0;
	margin: 0;
	justify-content: space-around;
}

.navlink li {
	list-style-type: none;
	font-size: 1.2rem;
}

.navlink a {
	border: 2px solid transparent;
	padding: 0.5rem 1rem;
	text-decoration: none;
	position: relative;
	color: var(--secondary-color);
	transition: all 0.3s ease;
	font-family: var(--font-texte);
	font-size: 1.2rem;
	font-weight: bold;
}

.navlink a:not(.logo):hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-radius: 5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-color: var(--primary-color);
}

.navlink a:not(.logo)::before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: var(--secondary-color);
	left: 0;
	bottom: 0;
	transition: width 0.3s ease;
}

.navlink a:hover::before {
	width: 100%;
}

@media (max-width: 768px) {
	/* Disposition du header en colonne sur mobile */
	.header {
		flex-direction: column; /* Affichage en colonne sur mobile */
		justify-content: center;
		padding: 20px;
		text-align: center;
	}

	/* Logo réduit et espacé du reste */
	.logoImg {
		width: 180px; /* Logo plus petit sur mobile */
		margin-bottom: 1rem; /* Espacement entre le logo et les liens */
	}

	/* Affichage des liens en colonne */
	.navlink {
		display: flex;
		flex-direction: column; /* Les liens sont empilés en colonne */
		justify-content: center;
		align-items: center; /* Centrer les liens verticalement */
		gap: 1.5rem; /* Espacement entre les liens */
		width: auto; /* Largeur ajustée */
	}

	/* Réduction de la taille des liens pour mobile */
	.navlink a {
		font-size: 1rem; /* Taille plus petite des liens */
		padding: 0.5rem; /* Moins d'espace autour des liens */
	}
}
