@import "../../styles/variable.css";

.header {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	padding: 1rem 2rem;
	justify-content: space-between;
}

.logoImg {
	width: 220px;
	height: auto;
}

.navlink {
	display: flex;
	gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-around;
}

.navlink li {
	list-style-type: none;
	font-size: 1.2rem;
}

.navlink a {
	border: 2px solid transparent;
	padding: 0.5rem 1rem;
	text-decoration: none;
	position: relative;
	color: var(--secondary-color);
	transition: all 0.3s ease;
	font-family: var(--font-texte);
	font-size: 1.2rem;
	font-weight: bold;
}

.navlink a:not(.logo):hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border-radius: 5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-color: var(--primary-color);
}

.navlink a:not(.logo)::before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: var(--secondary-color);
	left: 0;
	bottom: 0;
	transition: width 0.3s ease;
}

.navlink a:hover::before {
	width: 100%;
}

@media (max-width: 768px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		text-align: center;
	}

	.logoImg {
		width: 180px;
		margin-bottom: 1rem; /* espace sous le logo */
	}

	.navlink {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		padding: 0;
		margin: 0;
	}

	.navlink li {
		font-size: 1rem;
	}

	.navlink a {
		font-size: 1rem;
		padding: 0.5rem;
	}
}
